:root{
	--trans-color: #fff;
	--trans-end-color: #fff
}
/******************************
.nav-el.active anim
******************************/
@keyframes fx-el_topleft-active {
  16% {
    transform: translate3d(-27.5%, -27.5%, 0);
  }

  50% {
    transform: translate3d(55.1%, 55.1%, 0) scale(1);
    color: #FFF;
  }

  62% {
    color: transparent;
  }

  100% {
    transform: translate3d(55.1%, 55.1%, 0) scale(20);
    color: transparent;
  }
}

@keyframes fx-el_top-active {
  16% {
    transform: translate3d(0, -27.5%, 0);
  }

  50% {
    transform: translate3d(0, 55.1%, 0) scale(1);
    color: #FFF;
  }

  62% {
    color: transparent;
  }

  100% {
    transform: translate3d(0, 55.1%, 0) scale(20);
    color: transparent;
  }
}

@keyframes fx-el_topright-active {
  16% {
    transform: translate3d(27.5%, -27.5%, 0);
  }

  50% {
    transform: translate3d(-55.1%, 55.1%, 0) scale(1);
    color: #FFF;
  }

  62% {
    color: transparent;
  }

  100% {
    transform: translate3d(-55.1%, 55.1%, 0) scale(20);
    color: transparent;
  }
}

@keyframes fx-el_left-active {
  16% {
    transform: translate3d(-27.5%, 0, 0);
  }

  50% {
    transform: translate3d(55.1%, 0, 0) scale(1);
    color: #FFF;
  }

  62% {
    color: transparent;
  }

  100% {
    transform: translate3d(55.1%, 0, 0) scale(20);
    color: transparent;
  }
}

@keyframes fx-el_center-active {
  16% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(1);
    color: #FFF;
  }

  62% {
    color: transparent;
  }

  100% {
    transform: scale(20);
    color: transparent;
  }
}

@keyframes fx-el_right-active {
  16% {
    transform: translate3d(27.5%, 0, 0);
  }

  50% {
    transform: translate3d(-55.1%, 0, 0) scale(1);
    color: #FFF;
  }

  62% {
    color: transparent;
  }

  100% {
    transform: translate3d(-55.1%, 0, 0) scale(20);
    color: transparent;
  }
}

@keyframes fx-el_btmleft-active {
  16% {
    transform: translate3d(-27.5%, 27.5%, 0);
  }

  50% {
    transform: translate3d(55.1%, -55.1%, 0) scale(1);
    color: #FFF;
  }

  62% {
    color: transparent;
  }

  100% {
    transform: translate3d(55.1%, -55.1%, 0) scale(20);
    color: transparent;
  }
}

@keyframes fx-el_btm-active {
  16% {
    transform: translate3d(0, 27.5%, 0);
  }

  50% {
    transform: translate3d(0, -55.1%, 0) scale(1);
    color: #FFF;
  }

  62% {
    color: transparent;
  }

  100% {
    transform: translate3d(0, 55.1%, 0) scale(20);
    color: transparent;
  }
}

@keyframes fx-el_btmright-active {
  16% {
    transform: translate3d(27.5%, 27.5%, 0);
  }

  50% {
    transform: translate3d(-55.1%, -55.1%, 0) scale(1);
    color: #FFF;
  }

  62% {
    color: transparent;
  }

  100% {
    transform: translate3d(-55.1%, -55.1%, 0) scale(20);
    color: transparent;
  }
}

@-webkit-keyframes fx-el_topleft-active {
  16% {
    -webkit-transform: translate3d(-27.5%, -27.5%, 0);
  }

  50% {
    -webkit-transform: translate3d(55.1%, 55.1%, 0) scale(1);
    color: #FFF;
  }

  62% {
    color: transparent;
  }

  100% {
    -webkit-transform: translate3d(55.1%, 55.1%, 0) scale(20);
    color: transparent;
  }
}

@-webkit-keyframes fx-el_topright-active {
  16% {
    -webkit-transform: translate3d(27.5%, -27.5%, 0);
  }

  50% {
    -webkit-transform: translate3d(-55.1%, 55.1%, 0) scale(1);
    color: #FFF;
  }

  62% {
    color: transparent;
  }

  100% {
    -webkit-transform: translate3d(-55.1%, 55.1%, 0) scale(20);
    color: transparent;
  }
}

@-webkit-keyframes fx-el_btmleft-active {
  16% {
    -webkit-transform: translate3d(-27.5%, 27.5%, 0);
  }

  50% {
    -webkit-transform: translate3d(55.1%, -55.1%, 0) scale(1);
    color: #FFF;
  }

  62% {
    color: transparent;
  }

  100% {
    -webkit-transform: translate3d(55.1%, -55.1%, 0) scale(20);
    color: transparent;
  }
}

@-webkit-keyframes fx-el_btmright-active {
  16% {
    -webkit-transform: translate3d(27.5%, 27.5%, 0);
  }

  50% {
    -webkit-transform: translate3d(-55.1%, -55.1%, 0) scale(1);
    color: #FFF;
  }

  62% {
    color: transparent;
  }

  100% {
    -webkit-transform: translate3d(-55.1%, -55.1%, 0) scale(20);
    color: transparent;
  }
}

@-moz-keyframes fx-el_topleft-active {
  16% {
    -moz-transform: translate3d(-27.5%, -27.5%, 0);
  }

  50% {
    -moz-transform: translate3d(55.1%, 55.1%, 0) scale(1);
    color: #FFF;
  }

  62% {
    color: transparent;
  }

  100% {
    -moz-transform: translate3d(55.1%, 55.1%, 0) scale(20);
    color: transparent;
  }
}

@-moz-keyframes fx-el_topright-active {
  16% {
    -moz-transform: translate3d(27.5%, -27.5%, 0);
  }

  50% {
    -moz-transform: translate3d(-55.1%, 55.1%, 0) scale(1);
    color: #FFF;
  }

  62% {
    color: transparent;
  }

  100% {
    -moz-transform: translate3d(-55.1%, 55.1%, 0) scale(20);
    color: transparent;
  }
}

@-moz-keyframes fx-el_btmleft-active {
  16% {
    -moz-transform: translate3d(-27.5%, 27.5%, 0);
  }

  50% {
    -moz-transform: translate3d(55.1%, -55.1%, 0) scale(1);
    color: #FFF;
  }

  62% {
    color: transparent;
  }

  100% {
    -moz-transform: translate3d(55.1%, -55.1%, 0) scale(20);
    color: transparent;
  }
}

@-moz-keyframes fx-el_btmright-active {
  16% {
    -moz-transform: translate3d(27.5%, 27.5%, 0);
  }

  50% {
    -moz-transform: translate3d(-55.1%, -55.1%, 0) scale(1);
    color: #FFF;
  }

  62% {
    color: transparent;
  }

  100% {
    -moz-transform: translate3d(-55.1%, -55.1%, 0) scale(20);
    color: transparent;
  }
}

#el-topleft.active {
  animation: fx-el_topleft-active 1.6s 1 ease-in-out;
  -webkit-animation: fx-el_topleft-active 1.6s 1 ease-in-out;
  -moz-animation: fx-el_topleft-active 1.6s 1 ease-in-out;
}

#el-top.active {
  animation: fx-el_top-active 1.6s 1 ease-in-out;
}

#el-topright.active {
  animation: fx-el_topright-active 1.6s 1 ease-in-out;
  -webkit-animation: fx-el_topright-active 1.6s 1 ease-in-out;
  -moz-animation: fx-el_topright-active 1.6s 1 ease-in-out;
}

#el-left.active {
  animation: fx-el_left-active 1.6s 1 ease-in-out;
}
#el-center.active {
  animation: fx-el_center-active 1.6s 1 ease-in-out;
}
#el-right.active {
  animation: fx-el_right-active 1.6s 1 ease-in-out;
}

#el-btmleft.active {
  animation: fx-el_btmleft-active 1.6s 1 ease-in-out;
  -webkit-animation: fx-el_btmleft-active 1.6s 1 ease-in-out;
  -moz-animation: fx-el_btmleft-active 1.6s 1 ease-in-out;
}

#el-btm.active {
  animation: fx-el_btm-active 1.6s 1 ease-in-out;
}

#el-btmright.active {
  animation: fx-el_btmright-active 1.6s 1 ease-in-out;
  -webkit-animation: fx-el_btmright-active 1.6s 1 ease-in-out;
  -moz-animation: fx-el_btmright-active 1.6s 1 ease-in-out;
}

/******************************
.nav-el.inactive anim
******************************/
@keyframes fx-el_topleft-inactive {
  0% {
    transform: translate3d(0%, 0%, 0);
    opacity: 1;
  }

  16% {
    transform: translate3d(-27.5%, -27.5%, 0);
    opacity: 1;
  }

  40% {
    opacity: 0;
  }

  50% {
    transform: translate3d(55.1%, 55.1%, 0);
  }

  100% {
    transform: translate3d(55.1%, 55.1%, 0);
    opacity: 0;
  }
}

@keyframes fx-el_top-inactive {
  0% {
    transform: translate3d(0%, 0%, 0);
    opacity: 1;
  }

  16% {
    transform: translate3d(0%, -27.5%, 0);
    opacity: 1;
  }

  40% {
    opacity: 0;
  }

  50% {
    transform: translate3d(0%, 55.1%, 0);
  }

  100% {
    transform: translate3d(0%, 55.1%, 0);
    opacity: 0;
  }
}

@keyframes fx-el_topright-inactive {
  0% {
    transform: translate3d(0%, 0%, 0);
    opacity: 1;
  }

  16% {
    transform: translate3d(27.5%, -27.5%, 0);
    opacity: 1;
  }

  40% {
    opacity: 0;
  }

  50% {
    transform: translate3d(-55.1%, 55.1%, 0);
  }

  100% {
    transform: translate3d(-55.1%, 55.1%, 0);
    opacity: 0;
  }
}

@keyframes fx-el_left-inactive {
  0% {
    transform: translate3d(0%, 0%, 0);
    opacity: 1;
  }

  16% {
    transform: translate3d(-27.5%, 0%, 0);
    opacity: 1;
  }

  40% {
    opacity: 0;
  }

  50% {
    transform: translate3d(55.1%, 0%, 0);
  }

  100% {
    transform: translate3d(55.1%, 0%, 0);
    opacity: 0;
  }
}

@keyframes fx-el_center-inactive {
  0% {
    transform: translate3d(0%, 0%, 0) scale(1);
    opacity: 1;
  }

  16% {
    transform: translate3d(0, 0, 0) scale(1.2);
    opacity: 1;
  }

  40% {
    opacity: 0;
  }

  50% {
    transform: translate3d(0, 0, 0) scale(1);
  }

  100% {
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 0;
  }
}

@keyframes fx-el_right-inactive {
  0% {
    transform: translate3d(0%, 0%, 0);
    opacity: 1;
  }

  16% {
    transform: translate3d(27.5%, 0, 0);
    opacity: 1;
  }

  40% {
    opacity: 0;
  }

  50% {
    transform: translate3d(-55.1%, 0, 0);
  }

  100% {
    transform: translate3d(55.1%, 0, 0);
    opacity: 0;
  }
}

@keyframes fx-el_btmleft-inactive {
  0% {
    transform: translate3d(0%, 0%, 0);
    opacity: 1;
  }

  16% {
    transform: translate3d(-27.5%, 27.5%, 0);
    opacity: 1;
  }

  40% {
    opacity: 0;
  }

  50% {
    transform: translate3d(55.1%, -55.1%, 0);
  }

  100% {
    transform: translate3d(55.1%, -55.1%, 0);
    opacity: 0;
  }
}

@keyframes fx-el_btm-inactive {
  0% {
    transform: translate3d(0%, 0%, 0);
    opacity: 1;
  }

  16% {
    transform: translate3d(0%, 27.5%, 0);
    opacity: 1;
  }

  40% {
    opacity: 0;
  }

  50% {
    transform: translate3d(0%, -55.1%, 0);
  }

  100% {
    transform: translate3d(0%, 55.1%, 0);
    opacity: 0;
  }
}

@keyframes fx-el_btmright-inactive {
  0% {
    transform: translate3d(0%, 0%, 0);
    opacity: 1;
  }

  16% {
    transform: translate3d(27.5%, 27.5%, 0);
    opacity: 1;
  }

  40% {
    opacity: 0;
  }

  50% {
    transform: translate3d(-55.1%, -55.1%, 0);
  }

  100% {
    transform: translate3d(-55.1%, -55.1%, 0);
    opacity: 0;
  }
}

@-webkit-keyframes fx-el_topleft-inactive {
  0% {
    -webkit-transform: translate3d(0%, 0%, 0);
    opacity: 1;
  }

  16% {
    -webkit-transform: translate3d(-27.5%, -27.5%, 0);
    opacity: 1;
  }

  40% {
    opacity: 0;
  }

  50% {
    -webkit-transform: translate3d(55.1%, 55.1%, 0);
  }

  100% {
    -webkit-transform: translate3d(55.1%, 55.1%, 0);
    opacity: 0;
  }
}

@-webkit-keyframes fx-el_topright-inactive {
  0% {
    -webkit-transform: translate3d(0%, 0%, 0);
    opacity: 1;
  }

  16% {
    -webkit-transform: translate3d(27.5%, -27.5%, 0);
    opacity: 1;
  }

  40% {
    opacity: 0;
  }

  50% {
    -webkit-transform: translate3d(-55.1%, 55.1%, 0);
  }

  100% {
    -webkit-transform: translate3d(-55.1%, 55.1%, 0);
    opacity: 0;
  }
}

@-webkit-keyframes fx-el_btmleft-inactive {
  0% {
    -webkit-transform: translate3d(0%, 0%, 0);
    opacity: 1;
  }

  16% {
    -webkit-transform: translate3d(-27.5%, 27.5%, 0);
    opacity: 1;
  }

  40% {
    opacity: 0;
  }

  50% {
    -webkit-transform: translate3d(55.1%, -55.1%, 0);
  }

  100% {
    -webkit-transform: translate3d(55.1%, -55.1%, 0);
    opacity: 0;
  }
}

@-webkit-keyframes fx-el_btmright-inactive {
  0% {
    -webkit-transform: translate3d(0%, 0%, 0);
    opacity: 1;
  }

  16% {
    -webkit-transform: translate3d(27.5%, 27.5%, 0);
    opacity: 1;
  }

  40% {
    opacity: 0;
  }

  50% {
    -webkit-transform: translate3d(-55.1%, -55.1%, 0);
  }

  100% {
    -webkit-transform: translate3d(-55.1%, -55.1%, 0);
    opacity: 0;
  }
}

@-moz-keyframes fx-el_topleft-inactive {
  0% {
    -moz-transform: translate3d(0%, 0%, 0);
    opacity: 1;
  }

  16% {
    -moz-transform: translate3d(-27.5%, -27.5%, 0);
    opacity: 1;
  }

  40% {
    opacity: 0;
  }

  50% {
    -moz-transform: translate3d(55.1%, 55.1%, 0);
  }

  100% {
    -moz-transform: translate3d(55.1%, 55.1%, 0);
    opacity: 0;
  }
}

@-moz-keyframes fx-el_topright-inactive {
  0% {
    -moz-transform: translate3d(0%, 0%, 0);
    opacity: 1;
  }

  16% {
    -moz-transform: translate3d(27.5%, -27.5%, 0);
    opacity: 1;
  }

  40% {
    opacity: 0;
  }

  50% {
    -moz-transform: translate3d(-55.1%, 55.1%, 0);
  }

  100% {
    -moz-transform: translate3d(-55.1%, 55.1%, 0);
    opacity: 0;
  }
}

@-moz-keyframes fx-el_btmleft-inactive {
  0% {
    -moz-transform: translate3d(0%, 0%, 0);
    opacity: 1;
  }

  16% {
    -moz-transform: translate3d(-27.5%, 27.5%, 0);
    opacity: 1;
  }

  40% {
    opacity: 0;
  }

  50% {
    -moz-transform: translate3d(55.1%, -55.1%, 0);
  }

  100% {
    -moz-transform: translate3d(55.1%, -55.1%, 0);
    opacity: 0;
  }
}

@-moz-keyframes fx-el_btmright-inactive {
  0% {
    -moz-transform: translate3d(0%, 0%, 0);
    opacity: 1;
  }

  16% {
    -moz-transform: translate3d(27.5%, 27.5%, 0);
    opacity: 1;
  }

  40% {
    opacity: 0;
  }

  50% {
    -moz-transform: translate3d(-55.1%, -55.1%, 0);
  }

  100% {
    -moz-transform: translate3d(-55.1%, -55.1%, 0);
    opacity: 0;
  }
}

#el-topleft.inactive {
  animation: fx-el_topleft-inactive 1.6s 1 ease-in-out;
  -webkit-animation: fx-el_topleft-inactive 1.6s 1 ease-in-out;
  -moz-animation: fx-el_topleft-inactive 1.6s 1 ease-in-out;
}

#el-top.inactive {
  animation: fx-el_top-inactive 1.6s 1 ease-in-out;
}

#el-topright.inactive {
  animation: fx-el_topright-inactive 1.6s 1 ease-in-out;
  -webkit-animation: fx-el_topright-inactive 1.6s 1 ease-in-out;
  -moz-animation: fx-el_topright-inactive 1.6s 1 ease-in-out;
}

#el-left.inactive {
  animation: fx-el_left-inactive 1.6s 1 ease-in-out;
}

#el-center.inactive {
  animation: fx-el_center-inactive 1.6s 1 ease-in-out;
}

#el-right.inactive {
  animation: fx-el_right-inactive 1.6s 1 ease-in-out;
}

#el-btmleft.inactive {
  animation: fx-el_btmleft-inactive 1.6s 1 ease-in-out;
  -webkit-animation: fx-el_btmleft-inactive 1.6s 1 ease-in-out;
  -moz-animation: fx-el_btmleft-inactive 1.6s 1 ease-in-out;
}

#el-btm.inactive {
  animation: fx-el_btm-inactive 1.6s 1 ease-in-out;
}

#el-btmright.inactive {
  animation: fx-el_btmright-inactive 1.6s 1 ease-in-out;
  -webkit-animation: fx-el_btmright-inactive 1.6s 1 ease-in-out;
  -moz-animation: fx-el_btmright-inactive 1.6s 1 ease-in-out;
}

/******************************
.nav-el.active reverse
******************************/
@keyframes fx-el_topleft-active_reverse {
  0% {
    transform: translate3d(55.1%, 55.1%, 0) scale(20);
    color: transparent;
    background-color: var(--trans-color);
  }

  38% {
    color: transparent;
  }

  50% {
    transform: translate3d(55.1%, 55.1%, 0) scale(1);
    color: #FFF;
    background-color: var(--trans-color);
  }

  82% {
    transform: translate3d(-27.5%, -27.5%, 0);
    background-color: var(--trans-end-color);
  }

  100% {
    transform: translate3d(0%, 0%, 0);
  }
}

@keyframes fx-el_top-active_reverse {
  0% {
    transform: translate3d(0, 55.1%, 0) scale(20);
    color: transparent;
    background-color: var(--trans-color);
  }

  38% {
    color: transparent;
  }

  50% {
    transform: translate3d(0, 55.1%, 0) scale(1);
    color: #FFF;
    background-color: var(--trans-color);
  }

  82% {
    transform: translate3d(0, -27.5%, 0);
    background-color: var(--trans-end-color);
  }

  100% {
    transform: translate3d(0%, 0%, 0);
  }
}

@keyframes fx-el_topright-active_reverse {
  0% {
    transform: translate3d(-55.1%, 55.1%, 0) scale(20);
    color: transparent;
    background-color: var(--trans-color);
  }

  38% {
    color: transparent;
  }

  50% {
    transform: translate3d(-55.1%, 55.1%, 0) scale(1);
    color: #FFF;
    background-color: var(--trans-color);
  }

  82% {
    transform: translate3d(27.5%, -27.5%, 0);
    background-color: var(--trans-end-color);
  }

  100% {
    transform: translate3d(0%, 0%, 0);
  }
}

@keyframes fx-el_left-active_reverse {
  0% {
    transform: translate3d(55.1%, 0, 0) scale(20);
    color: transparent;
    background-color: var(--trans-color);
  }

  38% {
    color: transparent;
  }

  50% {
    transform: translate3d(55.1%, 0, 0) scale(1);
    color: #FFF;
    background-color: var(--trans-color);
  }

  82% {
    transform: translate3d(-27.5%, 0, 0);
    background-color: var(--trans-end-color);
  }

  100% {
    transform: translate3d(0%, 0%, 0);
  }
}

@keyframes fx-el_center-active_reverse {
  0% {
    transform: translate3d(0, 0, 0) scale(20);
    color: transparent;
    background-color: var(--trans-color);
  }

  38% {
    color: transparent;
  }

  50% {
    transform: translate3d(0, 0, 0) scale(1);
    color: #FFF;
    background-color: var(--trans-color);
  }

  82% {
    transform: translate3d(0, 0, 0) scale(1.2);
    background-color: var(--trans-end-color);
  }

  100% {
    transform: translate3d(0%, 0%, 0) scale(1);
  }
}

@keyframes fx-el_right-active_reverse {
  0% {
    transform: translate3d(-55.1%, 0, 0) scale(20);
    color: transparent;
    background-color: var(--trans-color);
  }

  38% {
    color: transparent;
  }

  50% {
    transform: translate3d(-55.1%, 0, 0) scale(1);
    color: #FFF;
    background-color: var(--trans-color);
  }

  82% {
    transform: translate3d(27.5%, 0, 0);
    background-color: var(--trans-end-color);
  }

  100% {
    transform: translate3d(0%, 0%, 0);
  }
}

@keyframes fx-el_btmleft-active_reverse {
  0% {
    transform: translate3d(55.1%, -55.1%, 0) scale(20);
    color: transparent;
    background-color: var(--trans-color);
  }

  38% {
    color: transparent;
  }

  50% {
    transform: translate3d(55.1%, -55.1%, 0) scale(1);
    color: #FFF;
    background-color: var(--trans-color);
  }

  82% {
    transform: translate3d(-27.5%, 27.5%, 0);
    background-color: var(--trans-end-color);
  }

  100% {
    transform: translate3d(0%, 0%, 0);
  }
}

@keyframes fx-el_btm-active_reverse {
  0% {
    transform: translate3d(0, 55.1%, 0) scale(20);
    color: transparent;
    background-color: var(--trans-color);
  }

  38% {
    color: transparent;
  }

  50% {
    transform: translate3d(0, -55.1%, 0) scale(1);
    color: #FFF;
    background-color: var(--trans-color);
  }

  82% {
    transform: translate3d(0, 27.5%, 0);
    background-color: var(--trans-end-color);
  }

  100% {
    transform: translate3d(0%, 0%, 0);
  }
}

@keyframes fx-el_btmright-active_reverse {
  0% {
    transform: translate3d(-55.1%, -55.1%, 0) scale(20);
    color: transparent;
    background-color: var(--trans-color);
  }

  38% {
    color: transparent;
  }

  50% {
    transform: translate3d(-55.1%, -55.1%, 0) scale(1);
    color: #FFF;
    background-color: var(--trans-color);
  }

  82% {
    transform: translate3d(27.5%, 27.5%, 0);
    background-color: var(--trans-end-color);
  }

  100% {
    transform: translate3d(0%, 0%, 0);
  }
}

@-webkit-keyframes fx-el_topleft-active_reverse {
  0% {
    -webkit-transform: translate3d(55.1%, 55.1%, 0) scale(20);
    color: transparent;
    background-color: var(--trans-color);
  }

  38% {
    color: transparent;
  }

  50% {
    -webkit-transform: translate3d(55.1%, 55.1%, 0) scale(1);
    color: #FFF;
    background-color: var(--trans-color);
  }

  82% {
    -webkit-transform: translate3d(-27.5%, -27.5%, 0);
    background-color: var(--trans-end-color);
  }

  100% {
    -webkit-transform: translate3d(0%, 0%, 0);
  }
}

@-webkit-keyframes fx-el_topright-active_reverse {
  0% {
    -webkit-transform: translate3d(-55.1%, 55.1%, 0) scale(20);
    color: transparent;
    background-color: var(--trans-color);
  }

  38% {
    color: transparent;
  }

  50% {
    -webkit-transform: translate3d(-55.1%, 55.1%, 0) scale(1);
    color: #FFF;
    background-color: var(--trans-color);
  }

  82% {
    -webkit-transform: translate3d(27.5%, -27.5%, 0);
  }

  100% {
    -webkit-transform: translate3d(0%, 0%, 0);
    background-color: var(--trans-end-color);
  }
}

@-webkit-keyframes fx-el_btmleft-active_reverse {
  0% {
    -webkit-transform: translate3d(55.1%, -55.1%, 0) scale(20);
    color: transparent;
    background-color: var(--trans-color);
  }

  38% {
    color: transparent;
  }

  50% {
    -webkit-transform: translate3d(55.1%, -55.1%, 0) scale(1);
    color: #FFF;
    background-color: var(--trans-color);
  }

  82% {
    -webkit-transform: translate3d(-27.5%, 27.5%, 0);
  }

  100% {
    -webkit-transform: translate3d(0%, 0%, 0);
    background-color: var(--trans-end-color);
  }
}

@-webkit-keyframes fx-el_btmright-active_reverse {
  0% {
    -webkit-transform: translate3d(-55.1%, -55.1%, 0) scale(20);
    color: transparent;
    background-color: var(--trans-color);
  }

  38% {
    color: transparent;
  }

  50% {
    -webkit-transform: translate3d(-55.1%, -55.1%, 0) scale(1);
    color: #FFF;
    background-color: var(--trans-color);
  }

  82% {
    -webkit-transform: translate3d(27.5%, 27.5%, 0);
  }

  100% {
    -webkit-transform: translate3d(0%, 0%, 0);
    background-color: var(--trans-end-color);
  }
}

@-moz-keyframes fx-el_topleft-active_reverse {
  0% {
    -moz-transform: translate3d(55.1%, 55.1%, 0) scale(20);
    color: transparent;
    background-color: var(--trans-color);
  }

  38% {
    color: transparent;
  }

  50% {
    -moz-transform: translate3d(55.1%, 55.1%, 0) scale(1);
    color: #FFF;
    background-color: var(--trans-color);
  }

  82% {
    -moz-transform: translate3d(-27.5%, -27.5%, 0);
  }

  100% {
    -moz-transform: translate3d(0%, 0%, 0);
    background-color: var(--trans-end-color);
  }
}

@-moz-keyframes fx-el_topright-active_reverse {
  0% {
    -moz-transform: translate3d(-55.1%, 55.1%, 0) scale(20);
    color: transparent;
    background-color: var(--trans-color);
  }

  38% {
    color: transparent;
  }

  50% {
    -moz-transform: translate3d(-55.1%, 55.1%, 0) scale(1);
    color: #FFF;
    background-color: var(--trans-color);
  }

  82% {
    -moz-transform: translate3d(27.5%, -27.5%, 0);
  }

  100% {
    -moz-transform: translate3d(0%, 0%, 0);
    background-color: var(--trans-end-color);
  }
}

@-moz-keyframes fx-el_btmleft-active_reverse {
  0% {
    -moz-transform: translate3d(55.1%, -55.1%, 0) scale(20);
    color: transparent;
    background-color: var(--trans-color);
  }

  38% {
    color: transparent;
  }

  50% {
    -moz-transform: translate3d(55.1%, -55.1%, 0) scale(1);
    color: #FFF;
    background-color: var(--trans-color);
  }

  82% {
    -moz-transform: translate3d(-27.5%, 27.5%, 0);
  }

  100% {
    -moz-transform: translate3d(0%, 0%, 0);
    background-color: var(--trans-end-color);
  }
}

@-moz-keyframes fx-el_btmright-active_reverse {
  0% {
    -moz-transform: translate3d(-55.1%, -55.1%, 0) scale(20);
    color: transparent;
    background-color: var(--trans-color);
  }

  38% {
    color: transparent;
  }

  50% {
    -moz-transform: translate3d(-55.1%, -55.1%, 0) scale(1);
    color: #FFF;
    background-color: var(--trans-color);
  }

  82% {
    -moz-transform: translate3d(27.5%, 27.5%, 0);
  }

  100% {
    -moz-transform: translate3d(0%, 0%, 0);
    background-color: var(--trans-end-color);
  }
}

#el-topleft.active_reverse {
  animation: fx-el_topleft-active_reverse 1.6s 1 ease-in-out;
  -webkit-animation: fx-el_topleft-active_reverse 1.6s 1 ease-in-out;
  -moz-animation: fx-el_topleft-active_reverse 1.6s 1 ease-in-out;
}

#el-top.active_reverse {
  animation: fx-el_top-active_reverse 1.6s 1 ease-in-out;
}

#el-topright.active_reverse {
  animation: fx-el_topright-active_reverse 1.6s 1 ease-in-out;
  -webkit-animation: fx-el_topright-active_reverse 1.6s 1 ease-in-out;
  -moz-animation: fx-el_topright-active_reverse 1.6s 1 ease-in-out;
}

#el-left.active_reverse {
  animation: fx-el_left-active_reverse 1.6s 1 ease-in-out;
}

#el-center.active_reverse {
  animation: fx-el_center-active_reverse 1.6s 1 ease-in-out;
}

#el-right.active_reverse {
  animation: fx-el_right-active_reverse 1.6s 1 ease-in-out;
}


#el-btmleft.active_reverse {
  animation: fx-el_btmleft-active_reverse 1.6s 1 ease-in-out;
  -webkit-animation: fx-el_btmleft-active_reverse 1.6s 1 ease-in-out;
  -moz-animation: fx-el_btmleft-active_reverse 1.6s 1 ease-in-out;
}

#el-btm.active_reverse {
  animation: fx-el_btm-active_reverse 1.6s 1 ease-in-out;
}

#el-btmright.active_reverse {
  animation: fx-el_btmright-active_reverse 1.6s 1 ease-in-out;
  -webkit-animation: fx-el_btmright-active_reverse 1.6s 1 ease-in-out;
  -moz-animation: fx-el_btmright-active_reverse 1.6s 1 ease-in-out;
}

/******************************
.nav-el.inactive reverse
******************************/
@keyframes fx-el_topleft-inactive_reverse {
  0% {
    transform: translate(55.1%, 55.1%);
    opacity: 0;
  }

  45% {
    opacity: 0;
  }

  50% {
    transform: translate(55.1%, 55.1%);
  }

  82% {
    transform: translate(-27.5%, -27.5%);
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fx-el_top-inactive_reverse {
  0% {
    transform: translate(0, 55.1%);
    opacity: 0;
  }

  45% {
    opacity: 0;
  }

  50% {
    transform: translate(0, 55.1%);
  }

  82% {
    transform: translate(0, -27.5%);
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fx-el_topright-inactive_reverse {
  0% {
    transform: translate(-55.1%, 55.1%);
    opacity: 0;
  }

  45% {
    opacity: 0;
  }

  50% {
    transform: translate(-55.1%, 55.1%);
  }

  82% {
    transform: translate(27.5%, -27.5%);
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fx-el_left-inactive_reverse {
  0% {
    transform: translate(55.1%, 0);
    opacity: 0;
  }

  45% {
    opacity: 0;
  }

  50% {
    transform: translate(55.1%, 0);
  }

  82% {
    transform: translate(-27.5%, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fx-el_center-inactive_reverse {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 0;
  }

  45% {
	transform: translate(0, 0) scale(1.2);
    opacity: 0;
  }

  50% {
    transform: translate(0, 0) scale(1);
	/* background-color: red; */
  }

  82% {
    transform: translate(0, 0) scale(1.2);
  }

  100% {
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }
}

@keyframes fx-el_right-inactive_reverse {
  0% {
    transform: translate(-55.1%, 0);
    opacity: 0;
  }

  45% {
    opacity: 0;
  }

  50% {
    transform: translate(-55.1%, 0);
  }

  82% {
    transform: translate(27.5%, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fx-el_btmleft-inactive_reverse {
  0% {
    transform: translate(55.1%, -55.1%);
    opacity: 0;
  }

  45% {
    opacity: 0;
  }

  50% {
    transform: translate(55.1%, -55.1%);
  }

  82% {
    transform: translate(-27.5%, 27.5%);
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fx-el_btm-inactive_reverse {
  0% {
    transform: translate(0, 55.1%);
    opacity: 0;
  }

  45% {
    opacity: 0;
  }

  50% {
    transform: translate(0, -55.1%);
  }

  82% {
    transform: translate(0, 27.5%);
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fx-el_btmright-inactive_reverse {
  0% {
    transform: translate(-55.1%, -55.1%);
    opacity: 0;
  }

  45% {
    opacity: 0;
  }

  50% {
    transform: translate(-55.1%, -55.1%);
  }

  82% {
    transform: translate(27.5%, 27.5%);
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fx-el_topleft-inactive_reverse {
  0% {
    -webkit-transform: translate3d(55.1%, 55.1%, 0);
    opacity: 0;
  }

  50% {
    -webkit-transform: translate3d(55.1%, 55.1%, 0);
  }

  82% {
    -webkit-transform: translate3d(-27.5%, -27.5%, 0);
  }

  45% {
    opacity: 0;
  }

  100% {
    -webkit-transform: translate3d(0%, 0%, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fx-el_topright-inactive_reverse {
  0% {
    -webkit-transform: translate3d(-55.1%, 55.1%, 0);
    opacity: 0;
  }

  50% {
    -webkit-transform: translate3d(-55.1%, 55.1%, 0);
  }

  82% {
    -webkit-transform: translate3d(27.5%, -27.5%, 0);
  }

  45% {
    opacity: 0;
  }

  100% {
    -webkit-transform: translate3d(0%, 0%, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fx-el_btmleft-inactive_reverse {
  0% {
    -webkit-transform: translate3d(55.1%, -55.1%, 0);
    opacity: 0;
  }

  50% {
    -webkit-transform: translate3d(55.1%, -55.1%, 0);
  }

  82% {
    -webkit-transform: translate3d(-27.5%, 27.5%, 0);
  }

  45% {
    opacity: 0;
  }

  100% {
    -webkit-transform: translate3d(0%, 0%, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fx-el_btmright-inactive_reverse {
  0% {
    -webkit-transform: translate3d(-55.1%, -55.1%, 0);
    opacity: 0;
  }

  50% {
    -webkit-transform: translate3d(-55.1%, -55.1%, 0);
  }

  82% {
    -webkit-transform: translate3d(27.5%, 27.5%, 0);
  }

  45% {
    opacity: 0;
  }

  100% {
    -webkit-transform: translate3d(0%, 0%, 0);
    opacity: 1;
  }
}

@-moz-keyframes fx-el_topleft-inactive_reverse {
  0% {
    -moz-transform: translate3d(55.1%, 55.1%, 0);
    opacity: 0;
  }

  50% {
    -moz-transform: translate3d(55.1%, 55.1%, 0);
  }

  82% {
    -moz-transform: translate3d(-27.5%, -27.5%, 0);
  }

  45% {
    opacity: 0;
  }

  100% {
    -moz-transform: translate3d(0%, 0%, 0);
    opacity: 1;
  }
}

@-moz-keyframes fx-el_topright-inactive_reverse {
  0% {
    -moz-transform: translate3d(-55.1%, 55.1%, 0);
    opacity: 0;
  }

  50% {
    -moz-transform: translate3d(-55.1%, 55.1%, 0);
  }

  82% {
    -moz-transform: translate3d(27.5%, -27.5%, 0);
  }

  45% {
    opacity: 0;
  }

  100% {
    -moz-transform: translate3d(0%, 0%, 0);
    opacity: 1;
  }
}

@-moz-keyframes fx-el_btmleft-inactive_reverse {
  0% {
    -moz-transform: translate3d(55.1%, -55.1%, 0);
    opacity: 0;
  }

  50% {
    -moz-transform: translate3d(55.1%, -55.1%, 0);
  }

  82% {
    -moz-transform: translate3d(-27.5%, 27.5%, 0);
  }

  45% {
    opacity: 0;
  }

  100% {
    -moz-transform: translate3d(0%, 0%, 0);
    opacity: 1;
  }
}

@-moz-keyframes fx-el_btmright-inactive_reverse {
  0% {
    -moz-transform: translate3d(-55.1%, -55.1%, 0);
    opacity: 0;
  }

  50% {
    -moz-transform: translate3d(-55.1%, -55.1%, 0);
  }

  82% {
    -moz-transform: translate3d(27.5%, 27.5%, 0);
  }

  45% {
    opacity: 0;
  }

  100% {
    -moz-transform: translate3d(0%, 0%, 0);
    opacity: 1;
  }
}

#el-topleft.inactive_reverse {
  animation: fx-el_topleft-inactive_reverse 1.6s 1 ease-in-out forwards;
  -webkit-animation: fx-el_topleft-inactive_reverse 1.6s 1 ease-in-out;
  -moz-animation: fx-el_topleft-inactive_reverse 1.6s 1 ease-in-out;
}

#el-top.inactive_reverse {
  animation: fx-el_top-inactive_reverse 1.6s 1 ease-in-out forwards;
}

#el-topright.inactive_reverse {
  animation: fx-el_topright-inactive_reverse 1.6s 1 ease-in-out forwards;
  -webkit-animation: fx-el_topright-inactive_reverse 1.6s 1 ease-in-out;
  -moz-animation: fx-el_topright-inactive_reverse 1.6s 1 ease-in-out;
}

#el-left.inactive_reverse {
  animation: fx-el_left-inactive_reverse 1.6s 1 ease-in-out forwards;
}

#el-center.inactive_reverse {
  animation: fx-el_center-inactive_reverse 1.6s 1 ease-in-out forwards;
}

#el-right.inactive_reverse {
  animation: fx-el_right-inactive_reverse 1.6s 1 ease-in-out forwards;
}
#el-btmleft.inactive_reverse {
  animation: fx-el_btmleft-inactive_reverse 1.6s 1 ease-in-out forwards;
  -webkit-animation: fx-el_btmleft-inactive_reverse 1.6s 1 ease-in-out;
  -moz-animation: fx-el_btmleft-inactive_reverse 1.6s 1 ease-in-out;
}

#el-btm.inactive_reverse {
  animation: fx-el_btm-inactive_reverse 1.6s 1 ease-in-out forwards;
}

#el-btmright.inactive_reverse {
  animation: fx-el_btmright-inactive_reverse 1.6s 1 ease-in-out forwards;
  -webkit-animation: fx-el_btmright-inactive_reverse 1.6s 1 ease-in-out;
  -moz-animation: fx-el_btmright-inactive_reverse 1.6s 1 ease-in-out;
}

/******************************
.overlay anim
******************************/
@keyframes fx-overlay {
  0% {
    visibility: visible;
    color: transparent;
  }

  50% {
    background-color: var(--trans-color);
    color: white;
  }

  100% {
    visibility: visible;
    background-color: var(--trans-color);
    color: #FFF;
  }
}

@keyframes fx-overlay-reverse {
  0% {
    visibility: visible;
    background-color: var(--trans-color);
    color: #FFF;
	opacity: 0.3;
  }

  40% {
    background-color: var(--trans-color);
    color: transparent;
	opacity: 0;
  }

  85% {
    background-color: transparent;
  }

  100% {
    visibility: hidden;
    color: transparent;
    background-color: transparent;
	opacity: 0;
  }
}

@-webkit-keyframes fx-overlay {
  0% {
    visibility: visible;
    color: transparent;
  }

  50% {
    background-color: var(--trans-color);
    color: white;
  }

  100% {
    visibility: visible;
    background-color: var(--trans-color);
    color: #FFF;
  }
}

@-webkit-keyframes fx-overlay-reverse {
  0% {
    visibility: visible;
    background-color: var(--trans-color);
    color: #FFF;
	opacity: 0.3;
  }

  40% {
    background-color: var(--trans-color);
    color: transparent;
	opacity: 0;
  }

  85% {
    background-color: transparent;
  }

  100% {
    visibility: hidden;
    color: transparent;
    background-color: transparent;
	opacity: 0;
  }
}

@-moz-keyframes fx-overlay {
  0% {
    visibility: visible;
    color: transparent;
  }

  50% {
    background-color: var(--trans-color);
    color: white;
  }

  100% {
    visibility: visible;
    background-color: var(--trans-color);
    color: #FFF;
  }
}

@-moz-keyframes fx-overlay-reverse {
  0% {
    visibility: visible;
    background-color: var(--trans-color);
    color: #FFF;
	opacity: 0.3;
  }

  40% {
    background-color: var(--trans-color);
    color: transparent;
	opacity: 0;
  }

  85% {
    background-color: transparent;
  }

  100% {
    visibility: hidden;
    color: transparent;
    background-color: transparent;
	opacity: 0;
  }
}

.overlay.active {
  animation: fx-overlay .8s 1.25s 1 ease-in-out forwards;
  -webkit-animation: fx-overlay .8s 1.25s 1 ease-in-out forwards;
  -moz-animation: fx-overlay .8s 1.25s 1 ease-in-out forwards;
}

.overlay.active_reverse {
  animation: fx-overlay-reverse .5s 1 ease-in backwards;
  -webkit-animation: fx-overlay-reverse .5s 1 ease-in backwards;
  -moz-animation: fx-overlay-reverse .5s 1 ease-in backwards;
}
