/*com*/
body, section, div, h1, h3, h4, h5, h6, p, ul, dl, li, a, span, i, input, select, textarea, button, pre, code{
    padding: 0;
    margin: 0;
    list-style: none;
    font-weight: normal;
    font-size: 14px;
    color: #666;
    box-sizing: border-box;
    outline: none;
}
pre{
    margin:0 0 1em 0;
}
a, a:link, a:visited, a:hover, a:active{
    color: #666;
    text-decoration: none;
}
.t-font{
    font-size: 12px;
}
.t-hide{
    display: none;
}
.t-color{
    color: #05a6ff !important;
}
.t-bg{
    background: #05a6ff;
    color: #fff !important;
}

.t-not-allowed, .t-not-allowed:hover{
    background: none !important;
    color: #05a6ff !important;
    cursor:not-allowed !important;
}
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

/*keyRight*/
#keyRight{
    /*width:100px;*/
    /*height:300px;*/
    /*background:cornflowerblue;*/
    position:absolute;
    display: none;
}
/*time*/
.t-d, .t-h, .t-m, .t-s{
    display: inline-block;
    padding: 5px 3px;
    background: #000;
    color: #fff;
    text-align: center;
    border-radius: 3px;
}
/*pop*/
.t-pop{
    width: 600px;
    position: fixed;
    _position:absolute;
    display: none;
    padding: 15px;
    border-radius: 3px;
    z-index: 9999999;
    background: #fff;
}
.t-success{
    color:#2b892c;
    border:1px solid #2b892c;
    background: #f0fbf2;
    /*top:-30px*/
}
.t-err{
    color:#e08989;
    border:1px solid #e08989;
    background: #fdf1f1;
    /*top:80px*/
}
.t-info{
    color:#3298b9;
    border:1px solid #3298b9;
    background: #f0fbff;
    /*top:140px*/
}
.t-warning{
    color:#dc9316;
    border:1px solid #dc9316;
    background: #fff6e6;
    /*top:200px*/
}
.t-alert{
    border:1px solid #fff;
    box-shadow: 1px 2px 3px 0 rgba(0,0,0,.2), 1px 3px 15px 2px rgba(0,0,0,.2);
}
/*linkage*/
.t-linkage-parent{
    position: relative;
}
.t-linkage{
    display: inline-block;
}
.t-linkage>p{
    margin: 10px 0;
}
.t-linkage>p{
    padding: 7px 12px;
    cursor: pointer;
    border-radius: 3px;
}
.t-linkage>p, .t-btn, .t-paging>a{
    display: inline-block;
    border:1px solid #05a6ff;
    color: #05a6ff;
}
.t-linkage>p:hover, p.t-linkage-select, .t-btn:hover, .t-paging>a:hover{
    background: #05a6ff;
    transition: all .2s linear;
    color: #fff;
}
.t-linkage>div{
    position: absolute;
    left: 0;
    width: 100%;
    display: none;
}

.t-linkage>div.t-linkage-show{
    display: block;
}

/*tabs*/
.t-tabs-hover{
    border-bottom: 1px solid #05a6ff;
    color: #05a6ff;
}
.t-tabs>ul{
    overflow: hidden;
}
.t-tabs li{
    float: left;
    padding: 10px 15px;
}
.t-tabs>div{
    padding: 10px 15px;
}
/*copy*/
.t-copy>span, .t-copy>input{
    display: none;
}
.t-copy>span{
    box-shadow: 0 10px 60px 0 rgba(29, 29, 31, 0.09);
    margin-top: 5px;
    position: absolute;
}
.t-copy{
    position: relative;
    width: 100px;
}
.t-copy>p{
    padding: 5px 0;
    cursor: pointer;
}
.t-copy>input{
    position: absolute;
    top: 5px;
    left: 100%;
    border: 1px solid #05a6ff;
    background: none;
}
/*banner*/
.t-banner{
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
    margin-bottom: 1%;
}
.t-banner ul{
    overflow: hidden;
}
.t-banner li{
    float: left;
}
.t-banner .t-banner-nav{
    position:absolute;
    bottom: 8%;
    z-index: 100;
}
.t-banner .t-banner-nav a{
    display: block;
    float: left;
    width: 5px;
    height: 5px;
    margin-left: 5px;
    border-radius: 50%;
    border: 1px solid white;
}
/*marquee*/
.t-marqueebox{
    border:#bbb 1px solid;
    overflow:hidden;
}
.t-marqueebox li{
    text-align:center;
}
/*pmgressbar*/
.t-pmgressbar{
    width: 0;
    height: 2px;
    background: #05a6ff;
    position: fixed;
    top:0;
    left:0;
    right: 0;
}
/*table*/
.t-table{
    margin:auto;
    width: 100%;
    /*border-spacing:0;*/
    border-collapse:collapse;
}
.t-table thead{
    background:#f1f1f1;
}
.t-table td,th{
    border:1px solid #e6e6e6;
}
.t-table tr{
    height:50px;
    text-align: center;
}
/*.t-table tr:nth-child(!*odd*!2n){*/
    /*background:#B3B1AD;*/
/*}*/
/*.t-table tr:nth-of-type(odd):hover{*/
    /*background: #eaeaea;*/
/*}*/
/*.t-table tr:nth-of-type(even):hover{*/
    /*background:#eaeaea;*/
/*}*/
.t-table tr:hover{
    background: #f3f3f3;
}
.t-table a{
    color: #05a6ff;
    font-size: 12px;
}
.t-table svg.t-icon-item{
    vertical-align: middle;
}
.t-table thead th:last-child{
    width: 150px;
}
.t-table tbody td:last-child{
    position: relative;
}
.t-icon{
    color: #05a6ff;
    cursor: pointer;
}
.t-other-item{
    position: absolute;
    top:38px;
    right: 8px;
    background: #fff;
    border: 1px solid #05a6ff;
    padding: 5px 5px 0;
    z-index: -1;
    opacity: 0;
    transition: opacity .2s linear;
}
.t-other-item a{
    display: block;
    padding-bottom: 5px;
}
.t-table tfoot tr td{
    text-align: left;
    padding-left: 3%;
}
.t-table tfoot tr:first-child span{
    padding-right: 1%;
    color:#05a6ff;
}
.t-icon-up, .t-icon-down{
    cursor: pointer;
    font-size: 25px;
    width: 20px;
}
.t-icon-up:hover, .t-icon-down:hover{
    /*margin-left: -12px;*/
    color: #05a6ff;
}

/*paging*/
.t-paging{
    height: 32px;
    line-height: 32px;
}
.t-paging a{
    padding:0 12px;
    border-left: none;
}
.t-paging a:first-child{
    border-left: 1px solid #05a6ff;
}
div.t-paging-table>a{
    border: none !important;
    padding:0 12px 0 0;
    color: #666;
}
div.t-paging-table>a:hover{
    background: none;
    color:#05a6ff;
}
.t-paging select{
    vertical-align: top;
    border: 1px solid #05a6ff;
    margin:0 10px 0 4px;
    cursor: pointer;
    color: #05a6ff;
    padding: 0 5px;
}
.t-paging input{
    width: 38px;
    border: 1px solid #05a6ff;
    border-radius: 2px;
    margin:0 6px;
    vertical-align: top;
    text-align: center;
}
.t-paging button{
    padding:0 20px ;
    margin-left: 10px;
}
.t-paging a, .t-paging select, .t-paging input, .t-paging button{
    height: 100%;
    line-height: 32px;
}
.t-paging .paging-next{
    margin-right: 6px;
}
a.first-item, a.not-allowed-first{
    display: none;
}

/*loading*/
.t-loading{
    width: 32px;
    height: 32px;
    border: 2px solid #05a6ff;
    border-radius: 100%;
    border-top-color: transparent;
    animation: rotate 0.75s 0s linear infinite;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/*form*/
.t-input, .t-select, .t-radio-div, .t-checkbox-div, .t-textarea{
    position: relative;
    margin-bottom: 25px;
}
.t-input-icon{
    position: absolute;
    top: 30%;
    left: 1.5%;
    font-size: 16px;
}
.t-input>input, .t-select, .t-select-div>input{
    height: 38px;
    line-height: 38px;
    border:1px solid #e6e6e6;
    background-color: #fff;
    border-radius: 2px;
}
.t-input-verify>label{
    height: 38px;
    line-height: 38px;
    border-radius: 2px;
}
.t-input>span{
    margin-left: 5px;
}
.t-input>svg+input{
    padding-left: 38px;
}
.t-input>label+input, .t-input>input{
    padding-left: 10px;
}
.t-select-div{
    display: inline-block;
}
.t-select-div, .t-input-verify{
    height: 38px;
    margin-bottom: 25px;
}
.t-select-div>.t-select, .t-select-div>input, .t-input-verify>input{
    float: left;
    display: inline;
}
.t-select-div>.t-select{
    border-right: none;
    width: 70px;
}
.t-select-div>.t-select>p{
    overflow: hidden;
    width: 70%;
    height: 38px;
    padding-right: 0; /*111*/
}
.t-select-div>.t-select>ul{
    width: 200%;
}
.t-select{
    /*width: 150px; 555*/
    color:#666;
    padding: 0 0 0 10px;
    -moz-appearance:none;
    -webkit-appearance:none;
    appearance:none;
}
.t-select>p{
    /*width: 90%; 444*/
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    height: 38px;
    padding-right: 50px; /*666*/
}
.t-select>ul{
    width: 100%;
    border:1px solid #05a6ff;
    background-color: #fff;
    border-radius: 2px;
    position: absolute;
    left: 0;
    top:43px;
    z-index: 99;
    padding: 0 0 0 10px;
    display: none;
}
.t-select>ul>li{
    /*height: 38px;*/
    /*line-height: 38px;*/
}
.t-select>ul>li:hover{
    color: #05a6ff;
    cursor: pointer;
}
.t-select-icon{
    position: absolute;
    top:12px;
    /*right: 8px; 333*/
    right: 6px;
}

.t-input>input:hover, .t-input>input:focus, .t-select:hover, .t-select-div:hover input, .t-select-div:hover .t-select,
.t-input-verify>input:hover, .t-input-verify>label, .t-textarea:hover, .t-textarea:focus{
    border-color:#05a6ff;
}
.t-input:hover .t-input-icon, .t-select option:hover{
    color: #05a6ff;
}
.t-select-div:hover .t-select, .t-input-verify>input{
    border-right: none;
}
.t-select-div:hover input, .t-select-div>input{
    border-left: none;
}
.t-input-verify>label{
    display: inline-block;
    float: left;
    background: #05a6ff;
    padding: 0 8px;
    color: #fff;
    cursor: pointer;
    -moz-user-select:none;
}
.t-input-verify>input:hover, .t-input-verify>input, .t-select-div>.t-select:hover, .t-select-div>.t-select{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.t-input-verify>label:hover, .t-input-verify>label, .t-select-div>input:hover, .t-select-div>input{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
/*radio*/
.t-radio, .t-checkbox{
    height: 20px;
    display: inline-block;
    margin-right: 20px;
}
.t-radio>label, .t-radio>.t-radio-icon, .t-checkbox>label, .t-checkbox>.t-checkbox-icon{
    float: left;
}
.t-radio>label, .t-checkbox>label{
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding-left: 5px;
    cursor: pointer;
}
.t-radio>input, .t-checkbox>input{
    display: none;
}
.t-radio-icon, .t-checkbox-icon{
    font-size: 20px;
}

/*textarea*/
.t-textarea{
    padding: 6px 10px;
    resize: none;
    border:1px solid #e6e6e6;
    border-radius: 3px;
    outline: none;
    display: block;
}
.t-btn, .t-btn1, .t-btn2{
    padding: 8px 20px;
    border-radius: 3px;
}
button{
    background: none;
    border: none;
    cursor: pointer;
}
.t-btn1{
    border: 1px solid #e6e6e6;
}
.t-btn1:hover{
    border: 1px solid #05a6ff;
    color: #05a6ff;
}
.t-btn2{
    background: #05a6ff;
    border: 1px solid #05a6ff;
    color: #fff;
}
.t-btn2:hover{
    background: rgba(5, 166, 255, 0.87);
}

/*china-linkage*/
.t-china-linkage>.t-select{
    /*width: 150px; 222*/
    display: inline-block;
    margin-right: 10px;
}
.t-china-linkage .province{
    width: 132px;
    height: 266px;
    overflow-y: auto;
}

/*upload*/
.t-upload{
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin-top: 20px;
}
.t-upload input{
    position: absolute;
    right: 0;
    top: 0;
    height: 38px;
    opacity: 0;
    cursor: pointer;
}
.t-upload-div img, .t-upload-div pre{
    display: block;
}

/* range */
.t-range input[type='range']{
	width: 200px;
	cursor: pointer;
	background: #05a6ff;
	float: left;
}
.t-range datalist {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  /* writing-mode: vertical-lr; */
  writing-mode: horizontal-tb;
  width: 200px;
}
.t-range option {
  padding: 0;
}




.transitionDropIn{
    -webkit-animation-name: transitionDropIn;
    animation-name: transitionDropIn;
    transform-origin: center top 0;
    animation-timing-function: ease-in-out;
    /*will-change: top, left;硬件加速*/
}
@keyframes transitionDropIn {
    0% {
        opacity:0;
        -webkit-transform:scaleY(.8);
        transform:scaleY(.8)
    }
    to {
        opacity:1;
        -webkit-transform:scaleY(1);
        transform:scaleY(1)
    }
}
.transitionDropOut{
    -webkit-animation-name: transitionDropOut;
    animation-name: transitionDropOut;
    transform-origin: center top 0;
    animation-timing-function: ease-in-out;
}
@keyframes transitionDropOut {
    0% {
        opacity:1;
        -webkit-transform:scaleY(1);
        transform:scaleY(1)
    }
    to {
        opacity:0;
        -webkit-transform:scaleY(.8);
        transform:scaleY(.8)
    }
}